@import url("https://fonts.googleapis.com/css?family=Mukta");

body {
  background-color: #313131;
  font-family: "Mukta";
  font-size: 16px;
  margin: 0;
  padding: 30px;
}

canvas {
  box-shadow: -3px 2px 9px 6px black;
  cursor: pointer;
}
.tools {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.tools .color-field {
  height: 40px;
  width: 40px;
  min-width: 40px;
  min-height: 40px;
  cursor: pointer;
  display: inline-block;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #fff;
}
.tools .button {
  align-self: center;
  width: 100px;
  height: 40px;
  border: 2px solid #fff;
  cursor: pointer;
  color: #fff;
  background-color: #222;
  font-weight: bold;
  margin: 0 15px;
}

.color-picker {
  align-self: center;
  margin: 0 10px;
  height: 50px;
}
